<hr />
<%= image_tag leader.photo_src %>

<h3><%= leader.name.strip %></h3>
<h4><%= leader.title.strip %></h4>


<div>
  <table>
    <%= leader_data_tr leader.district_residence, "District" %>
    <%= leader_data_tr leader.spouse, "Spouse" %>
  </table>
</div>

<div>
  <div>
    <ul>
      <%= content_tag('li', link_to("Website", leader.website)) unless leader.website.blank? %>
      <%= content_tag('li', link_to("Contact Form", leader[:webform])) unless leader[:webform].blank? %>
      <%= content_tag('li', link_to("Facebook", leader.facebook)) unless leader.facebook.blank? %>
      <%= content_tag('li', link_to("Email", "mailto:#{leader.email}")) unless leader.email.blank? %>
      <%= content_tag('li', link_to("Twitter", leader.twitter)) unless leader[:twitter].blank? %>
    </ul>
  </div>
</div>

