<%= image_tag leader.photo_src %>
<h3><%= leader.name.strip %></h3>
<h4><%= leader.title.strip %></h4>

<% unless leader.district_residence.blank? %>
  <p>
  <b>District</b>
  <br />
  <%= leader.district_residence %>
  </p>
<% end %>

<% unless leader.spouse.blank? %>
  <p>
  <b>Spouse</b>
  <br />
  <%= leader.spouse %>
  </p>
<% end %>

<%= glyph_link_to('329_web_browser', leader.website, "Website") %>
<%= glyph_link_to('309_comments', leader.webform, "Contact") %>
<%= glyph_link_to('399_e-mail', 'mailto:'+leader.email, "Email") %>
<%= glyph_link_to('391_twitter_t', leader.twitter, "Twitter") %>
<%= glyph_link_to('390_facebook', leader.facebook, "Facebook") %>
