<div class="well">

  <%= image_tag leader.photo_src, class: 'head-shot' %>
  <h3 class="leader-name"><%= leader.name.strip %><br /><small><%= leader.title.strip %></small></h3>

<% unless leader.district_residence.blank? %>
  <p>
  <h6>District</h6>
  <%= leader.district_residence %>
  </p>
  <p>
<% end %>

<% unless leader.spouse.blank? %>
  <h6>Spouse</h6>
  <%= leader.spouse %>
  </p>
<% end %>

<%= glyph_link_to('329_web_browser', leader.website, "Website") %>
<%= glyph_link_to('309_comments', leader.webform, "Contact") %>
<%= glyph_link_to('399_e-mail', 'mailto:'+leader.email, "Email") %>
<%= glyph_link_to('391_twitter_t', leader.twitter, "Twitter") %>
<%= glyph_link_to('390_facebook', leader.facebook, "Facebook") %>

</div>
