<head>
  <meta charset="utf-8">
  <title>Pray1Tim2</title>
  <meta name="google-site-verification" content="qtMVWlG5xjhqY-6zDq3jfPX_JhMY9drzXvZ0EXl2fsA" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Pray1Tim2"/>
  <%= yield :facebook_state_meta %>
  <meta property="og:site_name" content="Pray1Tim2"/>
  <meta property="og:description" content="God's Prayer for Political Leaders A Ministry of Capitol Commission"/>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= yield :html_head %>
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/08926471462329065371a6dee/b8421358df1e8d68844bb41d1.js");</script>
</head>
