<ul class="nav nav-list">
  <% active = params[:controller] == "states" %>
  <%= state_nav_li('State Home', state_path(@state), 'home', active) %>

  <% active = params[:controller] == "leaders" %>
  <%= state_nav_li('State Leaders', state_leaders_path(@state), 'user', active) %>

  <% active = params[:action] == "how_to_pray" %>
  <%= state_nav_li('How to Pray', how_to_pray_path, 'fire', active) %>

  <% active = params[:id] == "daily" %>
  <%= state_nav_li('Sign Up for Daily Email', state_subscription_path(@state, 'daily'), 'calendar', active) %>

  <% active = params[:id] == "weekly" %>
  <%= state_nav_li('Sign Up for Weekly Email', state_subscription_path(@state, 'weekly'), 'list', active) %>

  <%= state_nav_li("Make a Donation to #{UsState.names[@state.to_param]} Director", DonationLink.url(@state.to_param), 'heart', false) if UsState.cc_states.include?(@state.code)%>

  <%= state_nav_li("Make a Donation to National Ministry", DonationLink.url('National'), 'heart', false) %>
</ul>

<div style="margin-top:1em">
  <%= image_tag "http://publicservantsprayer.org/assets/capitols/#{@state.code}-400.png" %>
</div>
