<h1 style="font-size:32px;color:#143e76 !important">Leaders Being Prayed For Today</h1>
<h2 style="color:#333333 !important"><%= @date.strftime("%A, %B %-d, %Y") %></h2>

<table cellpadding="5" cellspacing="0" border="0" align="center">
  <tr>
    <td width="200" valign="top" style="border:20px solid #ffffff !important;background-color: #F5F5F5;padding: 1em;margin: 1em">
      <%= render partial: "leaders/profile_email_rss.html.erb", 
        locals: { leader: @leaders[0] } %>
    </td>
    <td width="200" valign="top" style="font-size: larger;font-weight: bold;color: #747474 !important;" colspan="2">
      <%= render partial: "partials/right_column.html.erb" %>
      <br /><p style="font-size: 15px;color: #555555;" title="<%= @what_to_pray_for_message %>">Please pray today for
      <a href='http://<%= request.env["HTTP_HOST"]%>/how_to_pray/<%= @what_to_pray_for_day %>#prayfor<%= @what_to_pray_for_day %>'><%= @what_to_pray_for_text %></a></p>
    </td>
  </tr>

  <tr>
    <td width="200" valign="top" style="border:20px solid #ffffff !important;background-color: #F5F5F5;padding: 1em;margin: 1em">
      <%= render partial: "leaders/profile_email_rss.html.erb", 
        locals: { leader: @leaders[1] } %>
    </td>
    <td width="200" valign="top" style="border:20px solid #ffffff !important;background-color: #F5F5F5;padding: 1em;margin: 1em">
      <%= render partial: "leaders/profile_email_rss.html.erb", 
        locals: { leader: @leaders[2] } %>
    </td>
    <td width="200" valign="top">
    </td>
  </tr>

  <tr>
    <% if @leaders[3].email %>
    <td width="200" valign="top" style="border:20px solid #ffffff !important;background-color: #F5F5F5;padding: 1em;margin: 1em">
      <%= render partial: "leaders/profile_email_rss.html.erb", 
        locals: { leader: @leaders[3] } %>
    </td>
    <% end %>
    <% if @leaders[4].email %>
    <td width="200" valign="top" style="border:20px solid #ffffff !important;background-color: #F5F5F5;padding: 1em;margin: 1em">
      <%= render partial: "leaders/profile_email_rss.html.erb", 
        locals: { leader: @leaders[4] } %>
    </td>
    <% end %>
    <% if @leaders[4].email %>
    <td width="200" valign="top" style="border:20px solid #ffffff !important;background-color: #F5F5F5;padding: 1em;margin: 1em">
      <%= render partial: "leaders/profile_email_rss.html.erb", 
        locals: { leader: @leaders[5] } %>
    </td>
    <% end %>
  </tr>
</table>
