<% content_for :page_title do %>
  <h1 class="page-header">Find Your State</h1>
<% end %>

<% content_for :main do %>
  <p class="lead">
  You are invited to join us as we pray daily for these elected officials.  To find your leaders, select your state on the map or select a region. 
  </p>

  <div style="position:relative">

  <%= render :partial => 'map' %>

  <%= render :partial => 'region_button', 
    locals: {region: 'northeast', position: 'top:0;right:5%'} %>

  <%= render :partial => 'region_button', 
    locals: {region: 'midwest', position: 'top:0;right:40%'} %>

  <%= render :partial => 'region_button', 
    locals: {region: 'south', position: 'bottom:50%;right:5%'} %>

  <%= render :partial => 'region_button', 
    locals: {region: 'west', position: 'top:20%;left:0'} %>

  </div>

<% end %>
