<% content_for :title do %>
  <%= @state.name %>
<% end %>

<h2 class="state-header">Leaders Being Prayed For Today</h2>

<h3 class="date"><%= @date.strftime("%A, %B %-d, %Y") %></h3>

<div class="row-fluid">
  <div class="span3">
    <%= render :partial => 'leaders/profile', locals: {leader: @leaders[0]} %>
  </div>

  <div class="span6">
    <div class="hidden-phone">
      <%= render :partial => 'partials/right_column' %>
      <p style="font-size:14px;color:#555555;padding-top:15em;" title="<%= @what_to_pray_for_message %>" class="message">Please pray today for
      <a href='http://<%= request.env["HTTP_HOST"]%>/how_to_pray/<%= @what_to_pray_for_day %>&#35;prayfor<%= @what_to_pray_for_day %>'><%= @what_to_pray_for_text %></a></p>
    </div>
  </div>

  <div class="span3">
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <%= render :partial => 'leaders/profile', locals: {leader: @leaders[1]} %>
  </div>

  <div class="span3">
    <%= render :partial => 'leaders/profile', locals: {leader: @leaders[2]} %>
  </div>

  <div class="span3">
  </div>
  <div class="span3">
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <%= render :partial => 'leaders/profile', locals: {leader: @leaders[3]} %>
  </div>

  <%if @leaders[4] %>
    <div class="span3">
      <%= render :partial => 'leaders/profile', locals: {leader: @leaders[4]} %>
    </div>
  <% end %>

  <%if @leaders[5] %>
    <div class="span3">
      <%= render :partial => 'leaders/profile', locals: {leader: @leaders[5]} %>
    </div>
  <% end %>
</div>

<% if @leaders[6] %>
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => 'leaders/profile', locals: {leader: @leaders[6]} %>
    </div>
    <%if @leaders[7] %>
      <div class="span3">
        <%= render :partial => 'leaders/profile', locals: {leader: @leaders[7]} %>
      </div>
    <% end %>
    <%if @leaders[8] %>
      <div class="span3">
        <%= render :partial => 'leaders/profile', locals: {leader: @leaders[8]} %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @leaders[9] %>
    <div class="row-fluid">
      <div class="span3">
        <%= render :partial => 'leaders/profile', locals: {leader: @leaders[9]} %>
      </div>
      <%if @leaders[10] %>
          <div class="span3">
            <%= render :partial => 'leaders/profile', locals: {leader: @leaders[10]} %>
          </div>
      <% end %>
      <%if @leaders[11] %>
          <div class="span3">
            <%= render :partial => 'leaders/profile', locals: {leader: @leaders[11]} %>
          </div>
      <% end %>
    </div>
<% end %>
