<!DOCTYPE html>
<html>
  <%= render :partial => 'partials/head' %>
  <body>
    <%= cms_toolbar %>
    <%= render :partial => 'partials/navbar' %>

    <div class="container">
      <%= render :partial => 'partials/flash_messages' %>

      <div class="row">

        <div class="span12">
          <%= yield :page_title %>
          <div class="row">
            <div class="span3">
              <%= render :partial => 'partials/left_column_states' %>
            </div>
            <div class="span9">
              <%= container :main %>
              <%= container :right_column %>
            </div>
          </div>
        </div>

      </div><!-- end .row -->

    </div><!-- end .container -->

  <%= render :partial => 'partials/footer' %>
  </body>
</html>
